    <h1>Anda berada di halaman About</h1>
    <h3>Tentang Saya</h3>
    <p>Nama: Hanivan Rizky Sobari</p>

    <div class="container">
       <img src="img/favicon.png" alt="favicon" width="128">
       <h1>Lintasan Video</h1>
       <a href="https://youtube.com/c/LintasanVideo" target="_blank">Subscribe</a>
    </div>
