<h2>Form Tambah Data Kontak</h2>

   <% if(typeof errors !== 'undefined') { %>
      <ul>
         <% errors.forEach(error => { %>
            <li><p class="alert"><%= error.msg %></p></li>
         <% }) %>
      </ul>
   <% } %>

    <form action="/contact" method="post">
      <label for="nama" style="margin-bottom: 5px; display: inline-block;">Nama</label><br>
      <input type="text" name="nama" id="nama" style="margin-bottom: 15px;" required />

      <br>

      <label for="nohp" style="margin-bottom: 5px; display: inline-block;">Nomor Handphone</label><br>
      <input type="text" name="nohp" id="nohp" style="margin-bottom: 15px;" required />

      <br>

      <label for="email" style="margin-bottom: 5px; display: inline-block;">Email</label><br>
      <input type="email" name="email" id="email"/>

      <br><br>

      <button type="submit">Tambah Data</button>
    </form>
